.height{
    min-height: 100vh;
    
}
.color{
    background:white;
}
.search .form-control{
    
    border-radius: 15px;
    padding-left: 2.375rem;
    text-align: center;
}
.search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    text-align: center;
    pointer-events: none;
    color: #aaa

}